<div class="vh-100 container-fluid d-flex p-0">
    <div class="container bg-light w-25" style="min-width: 200px;">
        <hr>
        <h5 *ngIf="!sheet?.isGroup">Personal Sheet</h5>
        <h5 *ngIf="sheet?.isGroup">Group Sheet</h5>
        <span class="card-subtitle text-muted pb-2">Title: </span><span>{{ sheet?.title }}</span> <br>
        <span class="card-subtitle text-muted pb-2">Describtion: </span><span>{{ sheet?.description }}</span> <br>
        <hr>
        <span class="card-subtitle text-muted pb-2">Members: </span><span></span> <br>
        <hr>
        <span class="card-subtitle text-muted pb-2">Metrics: </span><br>
        <hr>
        <span class="card-subtitle text-muted pb-2">Creator: </span><span>{{ sheet?.creator?.email }}</span> <br>
        <hr>
        <button type="button" class="btn btn-danger" (click)="openModalAlertDelete(template)">Delete Sheet</button>
    </div>
    <div class="container pt-3 pb-3" style="overflow-x: auto;">
        <div class="row align-items-start h-75 flex-row flex-nowrap">
            <div class="col ms-3 me-3 h-100" style="min-width: 280px; max-width: 280px;" *ngFor="let stage of sheet?.stages">
                <div class="bg-dark text-white p-2">{{stage.name}}</div>
                <div class="bg-light border h-100 p-2">
                    Content 1
                </div>
            </div>
            <div class="col ms-3 me-3 h-100" style="min-width: 280px; max-width: 280px;">
                <div class="bg-dark text-white p-2">Staging</div>
                <div class="bg-light border p-2 text-center">
                    <button type="button" class="btn btn-primary">Create New Stage</button>
                </div>
            </div>
        </div>        
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Are you sure?</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="text-muted text-center">All data on this sheet will also be deleted</p>
        <button type="button" class="btn btn-primary w-50" (click)="decline()">No</button>
        <button type="button" class="btn btn-light w-50" (click)="confirm()">Yes</button>
    </div>
</ng-template>