<div class="vh-100 container-fluid d-flex justify-content-start align-items-center" style="margin-top: -56px;">
    <div class="ms-5">
        <h1>Toddo</h1>
        <h4 class="text-muted">Simple and effective service for personal or group planning</h4>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="vh-100 w-75 d-flex justify-content-evenly align-items-center">
        <div class="text-center">
            <img class="w-75" src="/assets/imgs/simple.png">
            <h3>Simplicity</h3>
        </div>
        <div class="text-center">
            <img class="w-75" src="/assets/imgs/notify.png">
            <h3>Notifable</h3>
        </div>
        <div class="text-center">
            <img class="w-75" src="/assets/imgs/human.png">
            <h3>Personal/Group</h3>
        </div>
    </div>
</div>
<div class="container-fluid d-flex justify-content-start align-items-center">
    <div class="vh-100 w-50 d-flex justify-content-center align-items-center flex-column">
        <h2>Our Features</h2>
        <ul class="text-center fs-5">
            <li>Drag&Drop Interface</li>
            <li>Telegram Notifications</li>
            <li>Multiple group management</li>
            <li>Long Term Scheduler</li>
            <li>OAuth 2.0 Avaliable</li>
        </ul>
    </div>
    <div class="vh-100 w-50 d-flex justify-content-center align-items-center flex-column">
        <h2>Join us and try it!</h2>
        <div class="w-50 text-center d-flex justify-content-center align-items-center flex-column">
            <a class="btn btn-primary btn-lg w-100" role="button" aria-disabled="true" href="/login">Sign in</a>
            or
            <a class="btn btn-primary btn-lg w-100" role="button" aria-disabled="true" href="/register">Sign up</a>
        </div>
    </div>
</div>