<div class="modal-header">
    <h4 class="modal-title">Аналитика угроз и рисков: </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
    <div class="container-fluid w-100 d-flex">
        <div style="width:20%;border-right:1px solid #dee2e6;">
            <div class="incdHdr">График: </div>
        </div>
        <div class="text-center" style="width:80%">
            <div class="incdHdr">Аналитика: </div>
            <div class="d-flex w-100">
                
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="close()">Закрыть</button>
</div>