<header class="w-100 d-flex bg-light justify-content-between">
    <nav class="navbar navbar-light">
        <a class="navbar-brand ms-3" href="/">Toddo</a>
    </nav>
    <nav class="navbar navbar-light" *ngIf="auth.isUserLoggedIn()">
        <a class="me-3" href="/profile">Profile</a>
        <a class="me-3" (click)="logout()">Logout</a>
    </nav>
</header>

<div id="logoutAlert" class="position-fixed bottom-0 me-3 end-0 d-flex alert" role="alert" style="opacity: 0; transition: .8s;"></div>

<router-outlet></router-outlet>