<header class="w-100 d-flex bg-dark justify-content-between">
    <nav class="navbar navbar-dark">
        <a class="navbar-brand ms-3" href="/">Viano</a>
    </nav>
    <nav class="navbar navbar-dark" *ngIf="auth.isUserLoggedIn()">
        <a class="me-3" href="/profile">Профиль</a>
        <a class="me-3" href="#" (click)="logout()">Выход</a>
    </nav>
</header>

<div id="logoutAlert" class="position-fixed bottom-0 me-3 end-0 d-flex alert" role="alert" style="opacity: 0; transition: .8s;"></div>

<router-outlet></router-outlet>