<header class="w-100 d-flex justify-content-between" style="z-index: 1;position: relative;">
    <nav class="navbar">
        <a class="navbar-brand ms-3" href="/">Viano</a>
    </nav>
    <nav class="navbar" *ngIf="auth.isUserLoggedIn()">
        <a class="me-3" href="/profile">Профиль</a>
        <a class="me-3" href="#" (click)="logout()">Выход</a>
    </nav>
</header>

<div id="logoutAlert" class="position-fixed bottom-0 me-3 end-0 d-flex alert" role="alert" style="opacity: 0; transition: .8s; z-index: -1;max-width: 450px;"></div>

<router-outlet></router-outlet>