<div class="modal-header">
    <h4 class="modal-title">События и инциденты: </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
    <div class="container-fluid w-100 d-flex">
        <div style="width:20%;border-right:1px solid #dee2e6;">
            <div class="incdHdr">События: </div>
        </div>
        <div class="text-center" style="width:80%">
            <div class="incdHdr">Инциденты: </div>
            <div class="d-flex w-100">
                <div style="width:33.333%">
                    <div class="incdHdr">Использование: </div>
                </div>
                <div style="width:33.333%; border-inline:1px solid #dee2e6;">
                    <div class="incdHdr">Анализ: </div>
                </div>
                <div style="width:33.333%">
                    <div class="incdHdr">Улучшение: </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="close()">Закрыть</button>
</div>