<ng-container>
    <div class="w-100 d-flex flex-wrap justify-content-around">
        <div class="card mb-3 cards">
            <div class="card-block">
                <div class="card-header h5">Мои данные</div>
                <div class="card-body d-flex">
                    <div class="w-75 d-flex flex-column">
                        <span class="card-subtitle pb-2">ФИО: <span class="text-muted">{{ user.surname + " " + user.name + " " + user.patronymic }}</span></span>
                        <span class="card-subtitle pb-2">Email: <span class="text-muted">{{ user.email }}</span></span>
                        <span class="card-subtitle pb-2">Адрес: <span class="text-muted">{{ user.address }}</span></span>
                        <span class="card-subtitle pb-2">Департамент: <span class="text-muted">{{ user.department.name }}</span></span>
                        <span class="card-subtitle pb-2">Должность: <span class="text-muted">{{ user.jobPosition }}</span></span>
                        <span class="card-subtitle pb-2">Роль: <span class="text-muted">{{ user.roles ? user.roles[0].displayName : ''}}</span></span>
                        <span class="card-subtitle pb-2">Дата регистрации: <span class="text-muted">{{ user.regDate }}</span></span>
                    </div>
                    <div class="w-25">
                        <img class="rounded-circle border border-4 w-100" src="assets/imgs/human.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>